<div class = "container" style = "margin-bottom: 30px">
	<h3>Questions</h3>

	<%=render "questions_table", locals: {questions: @questions}%>

	<% if current_user %>
    <%=link_to "Ask a Question", new_question_path, id: "ask-question-btn" %>
	<% end %>

  <p><%= will_paginate @questions, :params => {:controller => 'questions', :action => 'index' } %></p>

  <div id="question-form" class="hidden">
    <%=render "form" %>
  </div>

</div>



