<div class = "container" style = "margin-bottom: 30px">
	<h3>5 Questions</h3>
	<%=render "questions_table", locals: {questions: @questions}%>
	<% if current_user %>
	<% end %>
	<%=link_to "Ask a Question", new_question_path, remote: true, id: "ask-question-btn" %>
</div>
<div id = "question-form">here</div>


