<div class = "container" style = "margin-bottom: 30px">
	<h3>Questions</h3>

  <% if current_user %>
    <h3><%=link_to "Ask a Question", new_question_path, class: "btn btn-success", id: "ask-question-btn" %></h3>
  <% end %>


  <div id="question-form" class="hidden">
    <%=render "form" %>
  </div>

  <%=render "questions_table", locals: {questions: @questions}%>

  <footer class ="question-footer"><%= will_paginate @questions, :params => {:controller => 'questions', :action => 'index' } %></footer>

</div>



