<h1>Questions Search</h1>
 
<ul>
  <% if @questions.empty? == false %>
    <% @questions.each do |question| %>
      <li>
        <h3>
          <%= link_to question.title, question_path(question.id) %>
        </h3>
      </li>
    <% end %>
 <% end %> 
</ul>
