
<% raise %>
  <div id='map' class='dark'></div>





<!-- <nav id='menu-ui' class='menu-ui'>
  <a href='#' class='active' id='filter-meetupsNearMe'>Meetups Near Me</a>
  <a href='#' id='filter-allMeetups'>All Meetups</a>
</nav>
<div id='map'></div>

<script>

L.mapbox.accessToken = 'pk.eyJ1IjoiaGFuaWVsZGFuc29uIiwiYSI6IkFocjdTOUUifQ.xyT3gJjivbRhXnxojbrUHg';
    var map = L.mapbox.map('map', 'hanieldanson.ld8404l7'),
      meetupsNearMe = document.getElementById('filter-meetupsNearMe'),
      allMeetups = document.getElementById('filter-allMeetups');

    meetupsNearMe.onclick = function(e) {
        meetupsNearMe.className = '';
        this.className = 'active';
        // The setFilter function takes a GeoJSON feature object
        // and returns true to show it or false to hide it.
        map.featureLayer.setFilter(function(f) {
            return f.properties['marker-symbol'] === 'fast-food';
        });
        return false;
    };

    allMeetups.onclick = function() {
        allMeetups.className = '';
        this.className = 'active';
        map.featureLayer.setFilter(function(f) {
            // Returning true for all markers shows everything.
            return true;
        });
        return false;
    };
</script>
</body>
</html> -->








<!-- <!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Filtering markers</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<style>
.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active,
    .menu-ui a.active:hover {
      background:#3887BE;
      color:#FFF;
      }
</style>
<nav id='menu-ui' class='menu-ui'>
  <a href='#' class='active' id='filter-meetupsNearMe'>Meetups Near Me</a>
  <a href='#' id='filter-allMeetups'>All Meetups</a>
</nav>
<div id='map'></div>

<script>

L.mapbox.accessToken = 'pk.eyJ1IjoiaGFuaWVsZGFuc29uIiwiYSI6IkFocjdTOUUifQ.xyT3gJjivbRhXnxojbrUHg';
    var map = L.mapbox.map('map', 'hanieldanson.ld8404l7'),
      meetupsNearMe = document.getElementById('filter-meetupsNearMe'),
      allMeetups = document.getElementById('filter-allMeetups');

    meetupsNearMe.onclick = function(e) {
        meetupsNearMe.className = '';
        this.className = 'active';
        // The setFilter function takes a GeoJSON feature object
        // and returns true to show it or false to hide it.
        map.featureLayer.setFilter(function(f) {
            return f.properties['marker-symbol'] === 'fast-food';
        });
        return false;
    };

    allMeetups.onclick = function() {
        allMeetups.className = '';
        this.className = 'active';
        map.featureLayer.setFilter(function(f) {
            // Returning true for all markers shows everything.
            return true;
        });
        return false;
    };
</script>
</body>
</html>
 -->

