<div class = "container" style = "margin-bottom: 30px">

  <h3>10 Responses</h3>
  <%=render "responses_table", locals: {responses: @responses}%>
  <% if current_user %>
  <%=link_to "Respond", new_question_response_path, remote: true, id: "ask-response-btn" %>
  <% end %>
</div>
<div id = "response-form">
</div>
