
<% if current_user %>

Meetup Suggestions :
<ul>
  <% if @meetups.nil? == false %>
    <% @meetups.each do |meetup| %>
    <li>
      <h3>
        <%= link_to meetup.title, question_path(meetup.id) %>
      </h3>
    </li>
    <% end %>
  <% end %>
</ul>

<% else %>
  <h2>We're glad you're here.</h2>



<%= render "devise/shared/links" %>
 <% end %>

