 <div class = "content" style = "margin-bottom: 30px">
  <h1 class = "center">Course: <%=@course.name%></h1>
  <h3 class = "left">Link to course website!</h3>
  <p class = "left">Description: <%= @course.description %></p>
  <i class="fa fa-leaf"></i><i class="fa fa-leaf"></i><i class="fa fa-leaf"></i><i class="fa fa-leaf"></i>
  <div>
